@import "../../../node_modules/font-awesome/scss/font-awesome";

$primary-color: #06141d;
$accent-color: #1b2730;
$smoke-white-color: #f5f5f5;
$gray-color: #737272;
$primary-light-color: #28343e;
$pink-color: #f2506d;
$green-color: #29cb9a;
$blue-color: #4b93ff;
$lightest-gray-color: #80808036;
